@import "./variables.css";
@import "./utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: normal;
  src: local("Impact Regular"), url("/fonts/impact.woff") format("woff");
}
