@import "./variables/theme.css";

:root {
  --background: var(--background-light);
  --foreground: var(--foreground-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-light);
  }
}
