:root {
  --color-neutral-gray-lightest: theme("colors.gray.100");
  --color-neutral-gray-lighter: theme("colors.gray.300");
  --color-neutral-gray: theme("colors.gray.500");
  --color-neutral-gray-darker: theme("colors.gray.700");
  --color-neutral-gray-darkest: theme("colors.gray.900");

  --color-warm-gray-lightest: theme("colors.stone.100");
  --color-warm-gray-lighter: theme("colors.stone.300");
  --color-warm-gray: theme("colors.stone.500");
  --color-warm-gray-darker: theme("colors.stone.700");
  --color-warm-gray-darkest: theme("colors.stone.900");

  --color-cool-gray-lightest: theme("colors.gray.100");
  --color-cool-gray-lighter: theme("colors.gray.300");
  --color-cool-gray: theme("colors.gray.500");
  --color-cool-gray-darker: theme("colors.gray.700");
  --color-cool-gray-darkest: theme("colors.gray.900");

  --color-blue-gray-lightest: theme("colors.slate.100");
  --color-blue-gray-lighter: theme("colors.slate.300");
  --color-blue-gray: theme("colors.slate.500");
  --color-blue-gray-darker: theme("colors.slate.700");
  --color-blue-gray-darkest: theme("colors.slate.900");
}
